<!DOCTYPE html>

<html>

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Mind Clash</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% comment %} <link rel="stylesheet" type="text/css" href="styles.css"> {% endcomment %}
    <body>
        {% include 'navbar.html' %}
        
        {% comment %} {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %} {% endcomment %}
        

        {% block content %}
    
        {% endblock %}
    
    </body>
    
</html>